---
layout: default
title: Blog
permalink: /blog/
---

<div>
  <h2> Blog </h2>

    <div class="post-list">

      {% for post in site.posts limit:5%}

      <article class="post_card post">
        <header class="post_header">
          <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
          <time class="post_date">{% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}January
            {% when '2' %}February
            {% when '3' %}March
            {% when '4' %}April
            {% when '5' %}May
            {% when '6' %}June
            {% when '7' %}July
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}October
            {% when '11' %}November
            {% when '12' %}December
          {% endcase %}
          {{ post.date | date: "%Y" }}</time>
        </header>
        <div class="post_excerpt">
          <p>
            {% if post.description %}
            {{ post.description}}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
            <!--a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> » </a-->
          </p>
        </div>
        <footer class="post_meta">


          {% if post.location %}
          <span class="author-location">
            <div data-icon="ei-location"></div>
            <a href="https://www.google.com/maps/place/{{post.location}}">{{ post.location }}</a>
          </span>
          {% endif %}

          {% for category in post.categories %}
          <!--a href="{{"/category/" | append: category | prepend: site.baseurl }}">
            <data data-icon="ei-archive"></data>
            {{category}}</a-->
          {% endfor %}


          <!--
          {% if post.author %}
          <span class="author_meta">
            <img src="{{site.baseurl}}/assets/img/{{post.author}}.jpg"></img>
            <span>David Lin</span>
          </span>
          {% endif %}
          -->

          <p class="readmore">
            <a href="{{ post.url | prepend: site.baseurl }}"><data data-icon="ei-arrow-right"></data>Read More</a>
          </p>
       </footer>
        <hr/>
      </article>
      {% endfor %}
    </div>
    <footer class="article-footer" mar>
      {% include author.html %}
    </footer>
</div>
